<% if @zipcodes.present? %>

  <% @zipcodes.each do |zipcode| %>
    <div class="zipcode_node" data-zipcode01="<%= zipcode.zipcode_01 %>" data-zipcode02="<%= zipcode.zipcode_02 %>" data-address01="<%= zipcode.address %>">
       <%= link_to '선택', '#', :class => "zipcode_select" %> [<%= zipcode.zipcode_01 %>-<%= zipcode.zipcode_02 %>] <%= zipcode.original_address %>
    </div>
  <% end %>

<% else %>
  <div class="no_zipcode_found">
    검색된 우편번호가 없습니다.
  </div>
<% end %>

